@media (min-width: 979px) {
  body {
    padding-top: 160px;
  }
}
@media (max-width: 767px) {
  .navbar-fixed-top {
    margin-right: auto;
    margin-left: auto;
  }
}
.navbar-fixed-top {
  left: auto;
  right: auto;
}
.volume-selector {
  border-width: 1px 0 0 0;
  border-style: dashed;
  border-color: #a0a0a0;
}
@media (min-width: 768px) {
  .volume-selector {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .volume-selector {
    overflow: scroll;
    overflow-x: auto;
    overflow-y: hidden;
  }
}
.volume-selector ul {
  margin: 0 auto;
  list-style-type: none;
  list-style-position: none;
  text-align: center;
  white-space: nowrap;
}
.volume-selector ul li {
  border-width: 0 0 0 1px;
  border-style: dashed;
  border-color: #a0a0a0;
  display: inline-block;
  padding: 6px;
}
.volume-selector ul li a {
  color: #2b3c48;
  text-shadow: none;
  font-weight: bold;
  font-size: 13pt;
}
.volume-selector ul li:first-child {
  border-width: 0;
}
@media (max-width: 767px) {
  .content {
    padding-left: 4px;
    padding-right: 4px;
  }
}
@media (min-width: 768px) {
  .content {
    padding-left: 1em;
    padding-right: 1em;
  }
}
.entry {
  line-height: 135%;
  margin-top: 10px;
  margin-bottom: 10px;
}
.entry h3 {
  line-height: 100%;
}
.entry .particleContent {
  font-size: 80%;
  line-height: 115%;
  color: #787878;
  overflow: hidden;
  white-space: pre;
}
#solidContent > article {
  display: none;
}
#floudContent {
  display: none;
}
body {
  background-color: #ebebeb;
  background-image: url(../img/bg-pattern-colored.png);
  background-repeat: repeat-x;
}
@media (max-width: 767px) {
  body {
    padding-right: 5px;
    padding-left: 5px;
  }
}
body > .container,
.navbar-inner {
  background-image: url(../img/bg-pattern-nocolor.png);
  background-repeat: repeat;
}
a {
  color: #385e79;
}
a:hover {
  color: #a9264b;
  text-decoration: underline;
}
h1 {
  padding: 32px 32px 24px 32px;
}
h1 a {
  font-family: 'Noto Serif', serif;
  font-size: 36pt;
  font-weight: normal;
  color: #383838;
}
@media (max-width: 767px) {
  h1 a {
    font-size: 28pt;
  }
}
h2 {
  font-size: 24px;
}
h3 {
  font-size: 16px;
}
h4 {
  font-size: 14px;
}
