<article class="solidArticle" id="solidArticle_about_meteor">
<p>Meteor は Node.js, Mongo DB*を使い、サーバサイド, クライアントサイドすべてのコードを JavaScript で書き上げることを可能としたフレームワークです。データ同期に必要な複雑な処理をフレームワークに委ね、JavaScript のみで素早くリアルタイムウェブが開発できます。<br />
  *SQLのサポートは Meteor Version 1.0 以降での実装が検討されています。

<h2>Meteor の7つの指針</h2>
<p>原文:<a href="http://docs.meteor.com/#sevenprinciples">http://docs.meteor.com/#sevenprinciples</a></p>

<ul>
  <li><strong>通信対象はデータ</strong> 回線を使い送信されるのはHTMLではありません。データこそが送信され、そのデータをどのように扱うかはクライアントサイドに判断させます。</li>
  <li><strong>言語は1つ</strong> JavaScript でクライアントとサーバ双方のインターフェイスを記述します。</li>
  <li><strong>DBはどこでも</strong> クライアントでもサーバでも変わらない透過的なAPIを使うことができます。</li>
  <li><strong>遅延は補正</strong> クライアントサイドでは、先読みとモデルのシミュレーションを使いまるでデータベースへの接続遅延が無いように振舞います。</li>
  <li><strong>レスポンスはフルスタックだからこそできる速度</strong> リアルタイムをデフォルトとします、データベースからテンプレートまで、すべてのレイヤーがイベントドリブンのインターフェイスとされるべきです。</li>
  <li><strong>エコシステムが存在</strong> Meteor はオープンソースで、既にあるオープンソースのツールやフレームワークを置き換えるのではなく組み込みます。</li>
  <li><strong>生産性は簡潔さに比例</strong> 簡潔なプロダクトを作る際のもっともよい方法は、 実際にそのプロダクトをシンプルにすることです。素直で馴染みのある綺麗なAPIでそれを可能とします。</li>
</ul>
<h2>ロードマップ</h2>
<p>実装予定の機能は開発チームにより下掲サイトにまとめられています。機能のリリーススケジュールなどを伴わない簡略的なもので、機能について予告なく変更が加えられることがあります。<br />
  <a href="http://roadmap.meteor.com/">http://roadmap.meteor.com/</a><br>
(公式サイトでのロードマップについてのアナウンス:<br><a href="http://meteor.com/faq/does-meteor-have-a-roadmap">http://meteor.com/faq/does-meteor-have-a-roadmap</a>)
</p>
</article>
