<article class="solidArticle" id="solidArticle_about_meteor_kaiso">
<p>Meteor Kaiso(<a href="http://www.amazon.co.jp/s/?field-keywords=%E8%88%8E%E5%AF%86%E9%96%8B%E5%AE%97">開宗</a>) は Meteor を使った開発の際に役立つナレッジを紹介するサイトです。Meteor開発チームよりドキュメント翻訳の許可は頂いておりますが、記載されている内容は基本的に非公式でまた最新でない場合がありますのでご了承ください。また、暗示的であれ明示的であれ当サイトに記載された内容によって生じた如何なる不利益について、その内容を記載した者は一切の責任を負わない事をご承知の上ご利用下さい。</p>
<a name="authors"></a>
<h3>参加者</h3>
Meteor を使った開発に興味を持つ有志より成り立っております。翻訳したドキュメントをお寄せいただける場合は github よりプルリクエストを頂ければ幸いです。
<ul>
  <li><a href="https://github.com/arumtaunsaram">Yuki Kumazawa</a></li>
  <li>あなたの名前をここに追記</li>
</ul>
</article>
