<article class="solidArticle" id="solidArticle_about_meteor">
<p>Meteor は Node.js, Mongo DB*を使い、サーバサイド, クライアントサイドすべてのコードを JavaScript で書き上げることを可能としたフレームワークです。データ同期に必要な複雑な処理をフレームワークに委ね、JavaScript のみで素早くリアルタイムウェブが開発できます。<br />
  *SQLのサポートは Meteor Version 1.0 以降での実装が検討されています。
<h2>コンセプト</h2>
<ul>
  <li>そのままのJavaScript</li>
  <li>ページのデータはリアルタイムに更新</li>
  <li>簡潔かつ強力なデータ同期</li>
  <li>遅延の補正</li>
  <li>コードの即時置換</li>
  <li>影響が大きいコードは特権環境で実行</li>
  <li>ホスティングサービスに依存しないアプリケーション定義</li>
  <li>跨オペレーション対応性</li>
  <li>Meteor as スマートパッケージ</li>
</ul>
<h2>ロードマップ</h2>
<p>実装予定の機能は開発チームにより下掲サイトにまとめられています。機能のリリーススケジュールなどを伴わない簡略的なもので、機能について予告なく変更が加えられることがあります。<br />
  <a href="http://roadmap.meteor.com/">http://roadmap.meteor.com/</a><br>
(公式サイトでのロードマップについてのアナウンス:<br><a href="http://meteor.com/faq/does-meteor-have-a-roadmap">http://meteor.com/faq/does-meteor-have-a-roadmap</a>)
</p>
</article>
