<article class="solidArticle" id="solidArticle_apiref">
<h2>APIリファレンス</h2>
    <h3 class="rawentry" data-link="core.html" data-doctype="apiref">コアAPI</h3>
    <h3 class="rawentry" data-link="publish-subscribe.html" data-doctype="apiref">Publish, Subscribe API</h3>
    <h3 class="rawentry" data-link="collections.html" data-doctype="apiref">コレクション API</h3>
    <h3 class="rawentry" data-link="templates.html" data-doctype="apiref">テンプレート API</h3>
    <h3 class="rawentry" data-link="methods.html" data-doctype="apiref">Methods API</h3>
    <h3 class="rawentry" data-link="accounts.html" data-doctype="apiref">アカウント API</h3>
    <h3 class="rawentry" data-link="accounts-passwords.html" data-doctype="apiref">パスワード API</h3>
    <h3 class="rawentry" data-link="deps.html" data-doctype="apiref">Deps API</h3>
    <h3 class="rawentry" data-link="email.html" data-doctype="apiref">Email API</h3>
<hr/>
<h3>パッケージ リファレンス</h3>
    <h3 class="rawentry" data-link="package-accounts-ui.html" data-doctype="apiref">accounts-ui</h3>
<hr/>
    <h3 class="rawentry" data-link="commandline.html" data-doctype="apiref">コマンドライン</h3>
</article>
