<article class="solidArticle" id="solidArticle_index">
  <p>Meteor Kaiso は JavaScript を使ったフルスタックフレームワークである <a href="http://meteor.com/">Meteor</a> のドキュメントの日本語訳と、Meteor を使った開発の際に役立つナレッジを紹介します。Meteor については「<a href="about_meteor.html">Meteorとは</a>」をご参照ください。
  </p>
  <h2>サンプルコードから学ぶ Meteor アプリ入門</h2>
  <div class="content">
    <h3 class="rawentry" data-link="leaderboard-code.html" data-doctype="index">サンプル1 - 順位表</h3>
  </div>
  <div class="content">
    <h3 class="rawentry" data-link="party-code.html" data-doctype="index">サンプル2 - イベント告知</h3>
  </div>
  <h2>Meteor アプリ開発ガイド(独自コンテンツ)</h2>
  <div class="content">
    <h3 class="rawentry" data-link="basic-chat-app-vol1.html" data-doctype="index">Meteor アプリでの CRUD 基本操作 - チャットアプリを例として</h3>
  </div>
  <div class="content">
    <h3 class="rawentry" data-link="basic-chat-app-vol2.html" data-doctype="index">insecure パッケージと autopublish パッケージ - チャットアプリ その2</h3>
  </div>
  <p>
  さらに Meteor アプリケーション作成の際に必要な心得をマスターするのであれば公式ドキュメント Concept の日本語訳、<a href="concept.html">設計概念</a>に進みましょう。
  </p>
  <h2>白熱のページ</h2>
  <dl>
    <dt><a href="http://stephenwalther.com/archive/2013/03/18/an-introduction-to-meteor.aspx">An Introduction to Meteor</a></dt> 
  	<dd>Meteor の導入, プラクティスを詳しく解説。スクリーンショット付きで Windows 環境でのケースが紹介されているので参考になる部分が多いかと思われます。公開環境にデプロイする際の心がけについても解説</dd>
    <dt><a href="http://win.meteor.com/">Meteor on Windows!</a><dt>
    <dd>非公式な Meteor の Windows 向けビルドとそのインストーラが公開されています。</dd>
    <dt><a href="http://www.ibm.com/developerworks/jp/web/library/wa-meteor-webapps/">Meteor を使用したインスタント Web アプリケーション</a></dt>
  	<dd>IBM developerWorks による Meteor でセールスリポートを可視化するアプリケーションと、写真をシェアするアプリケーションを作ってみようという記事。画像の扱いについてコンセプトモデルという註もあるものの、参考になる点が多いかと思います。末尾には Meteor プロジェクトのメンバーとのインタビューが含まれており、チームの現在のウェブ開発を取り巻く状況の認識と Meteor の役割が語られています。</dd>
    <dt><a href="http://yauh.de/articles/376/best-learning-resources-for-meteorjs">Best Learning Resources for Meteor.js</a></dt> 
  	<dd>Meteor アプリケーション開発の入門に役立つページへのリンク集。必要となる JavaScript の言語仕様を解説するページや MongoDB に関するトピックス、Meteor アプリケーションのコード例を紹介したページ等へのリンクが紹介されています。</dd>
  	
    <dt><a href="http://www.discovermeteor.com/">Discover Meteor - Learn how to build real-time JavaScript web apps</a><dt>
  	<dd>実際の Meteor 利用シーンを想定した複数のサンプルから構成される Meteor のチュートリアル (一部を除き有償, 複数プランあり)</dd>
    <dt><a href="http://www.slideshare.net/emilystark/meteor-meets-mallory">Meteor meets Mallory</a></dt>
    <dd>Meteor アプリケーション作成の際にセキュリティの面から留意すべきことを解説。XSS 対策や Mongo に対するインジェクション防止。</dd>
    <dt><a href="https://coderwall.com/p/bdhzqa">Benjamin Harris : Showing "loading" in Meteor</a></dt>
    <dd>画面遷移時に遅いと感じたら。読込中を表示する方法について解説されています。</dd>
    <dt><a href="http://meteor.com/blog">The Meteor Blog</a></dt>
  	<dd>Meteor のオフィシャルブログ。Meteor の開発に役立つ情報が掲載されることがあります。最新のリリース情報を確認することもできます。</dd>
    <dt><a href="https://atmosphere.meteor.com/">Atmosphere</a></dt>
  	<dd>有志によって作成された Meteor のスマートパッケージが集約されたサイト。Perl でいう CPAN、PHP でいう pear、Ruby でいう gem、node でいう npm にあたるライブラリ。</dd>

    <dt><a href="http://net.tutsplus.com/tutorials/javascript-ajax/building-ribbit-in-meteor/">Building Rabbit in Meteor | Nettuts +</a></dt>
  	<dd>Meteor を使い twitter クローンを作成する記事</dd>
    <dt><a href="ihttp://www.meteorpedia.com/read/Main_Page">Meteorpedia</a></dt>
    <dd>Meteor 公式ドキュメントの補遺やチュートリアルの提供を目指して運営されている Wiki 。現在の時点でもデザインパターンや Nodojitsu をはじめとする各種 PaaS へのデプロイ方法が充実しています。</dd>
    <dt><a href="http://projectricochet.com/blog/meteor-js-performance">Improving the Performance of your Meteor JS projects</a></dt>
    <dd>Meteor アプリケーション開発に役立つ Tips の紹介。Session の使い方や効率のよいクエリの発行の仕方、ビュー開発のコツ等。</dd>
  </dl>
  <h3>より核心へ</h3>
  <dl>
    <dt><a href="https://github.com/oortcloud/unofficial-meteor-faq">Unofficial Meteor FAQ</a></dt>
  	<dd>Meteor のカスタマイズ方法など、公式サイトでは紹介されていないディープな情報。Meteor のブラウザサポート状況についても軽く触れられています。</dd>
    <dt><a href="https://github.com/awwx/misc/wiki/Meteor-Web-Apps-on-Mobile">Meteor Web Apps on Mobile</a></dt>
  	<dd>たとえば、モバイルの Safari や Chrome で長時間アクセスされずバックグラウンドなタブに回された場合、Meteor アプリケーションの subscription はどうなるの？等の考察。</dd>
    <dt><a href="http://meteorhacks.com/">MeteorHacks</a></dt>
    <dd>Meteor アプリのスケーリングやロードバランシングを行う際の Tips をはじめとし、Meteor の内部実装に関わる様々な試みを紹介しています。</dd>
    <dt><a href="https://github.com/onmodulus/demeteorizer">onmodulus/demeteorizer</a></dt>
    <dd>Meteor プロジェクトを node.js が動く環境であればどこでも動く形のプロジェクトへ変換する demeteorizer プロジェクト</dd>
    <dt><a href="https://www.eventedmind.com/">Evented Mind - A place to love learning technology</a></dt>
    <dd>Meteor のアーキテクチャを詳しく紹介する記事が充実しています。URLに合わせページの分割を行う機能を提供するIronRouterの解説や Meteor アプリケーションにてクライアント・サーバの結合がどの様に行われるかなどが手順を追って解説されています。</dd>
    <dt><a href="http://www.ripariandata.com/blog/real-time-multiuser-drawing-with-meteor">How to Build Your First Meteor App and Discover Your Inner Artist — Riparian Data</a></dt>
  	<dd>Boston Meteor Meetup group にてデモに使用された Meteor と Canvas (と d3js) を使ったマルチプレーヤで同時に絵を描くアプリケーションの解説</dd>
  </dl>
  <h3>Meteor アプリのテスト方法</h3>
  <dl>
    <dt><a href="http://www.sitepoint.com/test-driven-development-with-meteor/">Test Driven Development with Meteor - SitePoint</a></dt>
  	<dd>Meteor向けに mocha を使い作られたテストフレームワーク laika の利用方法</dd>
    <dt><a href="https://github.com/alanning/meteor-load-test">alanning/meteor-load-test</a></dt>
    <dd>Meteor アプリに対し負荷 (ロード) テストを行うツール。注意: *.meteor,com にデプロイしたアプリに対して負荷テストは行わないでください。ご自分のサーバを使いお試しください。</dd>
    <dt><a href="http://www.skalb.com/2012/08/19/testing-with-meteor-coffeescript-and-mocha/">Testing With Meteor, CoffeeScript and Mocha</a></dt>
  	<dd>Mocha, CoffeeScript を使ったMeteorのテスト方法</dd>
  </dl>
  <h3>Meteor の DB に RDB を使う方法</h3>
  <dl>
    <dt><a href="http://www.fastcolabs.com/3007015/how-use-mysql-meteor">How To Use MySQL With Meteor</a></dt>
  	<dd>MySQL を Meteor のバックグラウンドとして利用する方法</dd>
    <dt><a href="http://www.lshift.net/blog/2013/02/25/live-updates-to-meteor-from-postgres">Live updates to Meteor from Postgres</a></dt>
  	<dd>Postgre SQL を Meteor で利用する方法 (MongoDB経由)</dd>
  </dl>
  <h3>その他のトピック</h3>
  <dl>
    <dt><a href="http://telesc.pe/">Telescope</a></dt>
  	<dd>Meteor で作られたソーシャルニュースサイト</dd>
    <dt><a href="http://madewith.meteor.com">Made with Meteor!</a></dt>
	<dd>Meteor を使って作成されたアプリケーションの実例集</dd>
    <dt><a href="http://blog.nitrous.io/2013/02/21/build-meteor-apps-in-the-browser-with-actionio-and-mongolab.html">Build Meteor apps in the browser with Action.IO and MongoLab</a></dt>
  	<dd>WebIDE と MongoLab (Mongo DBのデータベースを提供する PaaS環境) を使ったクラウドのみで開発からデプロイまでを完結させる手法の解説</dd>
    <dt><a href="http://www.infoq.com/news/2013/05/nobackend">NoBackend: Front-End First Web Development</a></dt>
  	<dd>もう一つのサーバサイド抽象化の流れ</dd>
    <dt><a href="http://www.kinvey.com/blog/121/the-backend-as-a-service-ecosystem-map-update-amp-new-trends-migration-toward-the-middle">The Backend as a Service Ecosystem Map Update & New Trends: Migration Toward the Middle</a></dt>
  	<dd>Kinvey による Baas (Backend as a Service) Map。Meteor は Parse (2013年4月に Facebook により買収) の直下に描かれています</dd>
  </dl>
</article>
