<article class="solidArticle" id="solidArticle_index">
  <p>Meteor Kaiso は JavaScript を使ったフルスタックフレームワークである Meteor のドキュメントの日本語訳と、Meteor を使った開発の際に役立つナレッジを紹介します。Meteor については「<a href="about_meteor.html">Meteorとは</a>」をご参照ください。
  </p>
  <h2>サンプルコードから学ぶ Meteor アプリ</h2>
  <div class="content">
    <h3 class="rawentry" data-link="leaderboard-code.html" data-doctype="index">サンプル1 - 順位表</h3>
  </div>
  <p>
  さらに Meteor の機能検証を進めたいのであれば技術評論社と白石俊平様によるコンテンツ<a href="http://gihyo.jp/dev/serial/01/meteor">体感！JavaScriptで超速アプリケーション開発 －Meteor完全解説</a>を、Meteor アプリケーション作成の際に必要な心得をマスターするのであれば公式ドキュメント Concept の日本語訳、<a href="concept.html">設計概念</a>に進みましょう。
  </p>
  <h2>白熱のページ</h2>
  <dl>
    <dt><a href="http://stephenwalther.com/archive/2013/03/18/an-introduction-to-meteor.aspx">An Introduction to Meteor</a></dt> 
  	<dd>Meteor の導入, プラクティスを詳しく解説。スクリーンショット付きで Windows 環境でのケースが紹介されているので参考になる部分が多いかと思われます。公開環境にデプロイする際の心がけについても解説</dd>
  	
    <dt><a href="http://www.ripariandata.com/blog/real-time-multiuser-drawing-with-meteor">How to Build Your First Meteor App and Discover Your Inner Artist — Riparian Data</a></dt>
  	<dd>Boston Meteor Meetup group にてデモに使用された Meteor と Canvas (と d3js) を使ったマルチプレーヤで同時に絵を描くアプリケーションの解説</dd>
    <dt><a href="https://github.com/oortcloud/unofficial-meteor-faq">Unofficial Meteor FAQ</a></dt>
  	<dd>Meteor のカスタマイズ方法や Meteor でアプリケーションを作成する際のディレクトリ構造など、公式サイトでは紹介されていないディープな情報。Meteor のブラウザサポート状況についても軽く触れられています</dd>
    <dt><a href="http://www.discovermeteor.com/">Discover Meteor - Learn how to build real-time JavaScript web apps</a><dt>
  	<dd>実際の Meteor 利用シーンを想定した複数のサンプルから構成される Meteor のチュートリアル(一部を除き有償, 複数プランあり)</dd>
  </dl>
  <h3>Meteor アプリのテスト方法</h3>
  <dl>
    <dt><a href="http://www.sitepoint.com/test-driven-development-with-meteor/">Test Driven Development with Meteor - SitePoint</a></dt>
  	<dd>Meteor向けに mocha を使い作られたテストフレームワーク laika の利用方法</dd>
    <dt><a href="http://www.skalb.com/2012/08/19/testing-with-meteor-coffeescript-and-mocha/">Testing With Meteor, CoffeeScript and Mocha</a></dt>
  	<dd>Mocha, CoffeeScript を使ったMeteorのテスト方法</dd>
  </dl>
  <h3>Meteor の DB に RDB を使う方法</h3>
  <dl>
    <dt><a href="http://www.fastcolabs.com/3007015/how-use-mysql-meteor">How To Use MySQL With Meteor</a></dt>
  	<dd>MySQL を Meteor のバックグラウンドとして利用する方法</dd>
    <dt><a href="http://www.lshift.net/blog/2013/02/25/live-updates-to-meteor-from-postgres">Live updates to Meteor from Postgres</a></dt>
  	<dd>Postgre SQL を Meteor で利用する方法(MongoDB経由)</dd>
  </dl>
  <h3>その他のトピック</h3>
  <dl>
    <dt><a href="http://telesc.pe/">Telescope</a></dt>
  	<dd>Meteor で作られたソーシャルニュースサイト</dd>
    <dt><a href="http://blog.nitrous.io/2013/02/21/build-meteor-apps-in-the-browser-with-actionio-and-mongolab.html">Build Meteor apps in the browser with Action.IO and MongoLab</a></dt>
  	<dd>WebIDE と MongoLab (Mongo DBのデータベースを提供する PaaS環境)を使ったクラウドのみで開発からデプロイまでを完結させる手法の解説</dd>
    <dt><a href="http://www.infoq.com/news/2013/05/nobackend">NoBackend: Front-End First Web Development</a></dt>
  	<dd>もう一つのサーバサイド抽象化の流れ</dd>
    <dt><a href="http://www.kinvey.com/blog/121/the-backend-as-a-service-ecosystem-map-update-amp-new-trends-migration-toward-the-middle">The Backend as a Service Ecosystem Map Update & New Trends: Migration Toward the Middle</a></dt>
  	<dd>Kinvey による Baas (Backend as a Service) Map。Meteor は Parse (2013年4月に Facebook により買収) の直下に描かれています</dd>
  </dl>
</article>
